# User config
**/user.ini

# Python
venv
*.pyc
.mypy_cache
dist
build
*.egg-info

# Logs
**/*.log

# Docs
# re-ignore whenever publishing sphinx docs to github pages is easier
# docs/_build
docs/_build/doctrees
